  @media only screen and (max-width:767px) {

    .border-color {
        border-color: red !important;
    }

    .mw-75-percent {
        width: 75%;
}

.border-left-none {
  border-left: none;
}

.tranding-bg-none {
    background: none;
}

.heading>h6 {
  font-size: 20px;
}


}
